*{
    font-family: 'Baloo 2', sans-serif;
    font-size: 14px;
}

footer {
    display: none;
}

body {
    margin: 0px;
}

.loginBody {
    background: url('https://firebasestorage.googleapis.com/v0/b/traveler-c61bb.appspot.com/o/fondoLogin.jpg?alt=media&token=a1bb992d-e7af-49df-97b8-c2685e914f0a') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login{
    display: block;
    
}


.whiteText {
    color: #fff;
}

.textBlack {
    color: #000;
}

.title {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0px;
}

.logContainer {
    background: url('https://firebasestorage.googleapis.com/v0/b/traveler-c61bb.appspot.com/o/fondoLogin.jpg?alt=media&token=a1bb992d-e7af-49df-97b8-c2685e914f0a') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 120vh;
    padding-top: 65px;
}

.cntLogo {
    display: flex;
    justify-content: center;
}

.formLogin {
    margin-top: 3%;
}

.signup{
    display: none;
}
.muro{
    display: none;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.oLogin {
    color: #ffff;
}

/*FUENTES:
font-family: 'Baloo 2', cursive;
font-family: 'Lato', sans-serif;*/

input{
    border-radius: 20px;
    margin: 2%;
    width: 240px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    color: #666666;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px;
    border-color: #E5E5E5;
    background-color: white;
    font-family:'Lato', sans-serif;
    flex-direction: column;
    display: flex;
    outline: none;
}

input::placeholder {
    color: #DFDFDF;
}

.login-input-log{
    border-radius: 0 !important;
    margin: 0%;
    width: 240px;
    height: 30px;
    padding: 0px 10px 0px 10px;
    /* color: #C4C4C4; */
    margin-left: auto;
    margin-right: auto;
    border: 0 !important;
    border-color: #E5E5E5;
    background-color: white;
    font-family: 'Lato', sans-serif;
    flex-direction: column;
    display: flex;
    outline: none;

}

.cntPasswordInput {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin: 2%;
    width: 240px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    color: #C4C4C4;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px;
    border-color: #E5E5E5;
    background-color: white;
    font-family: 'Lato', sans-serif;
    align-items: center;
}

.google-login{
    width: 225px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    background-color: white;
    padding: 5px;
    border: solid 1px;
    border-color: #E5E5E5;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content:space-evenly;
    

}


.submit-button {
    width: 100px;
    background-color: #CAD95B;
    display: flex;
    justify-content: center;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    padding: 5px;
    color: #ffff;
}

.logout-button{
    width: 100px;
    background-color: #CAD95B;
    display: flex;
    justify-content: center;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    padding: 5px;
    color: #ffff;
}

.cancel-button {
    margin-top: 15px;
    width: 100px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    padding: 5px;
    color: #666666;
}

.imgGoogle {
    padding-left: 2px;
}

a {
    text-decoration: none;
    font-size: 12px;
    color: #CAD95B;
}

p {
    text-align: center;
    font-size: 12px;
    color: #ffff;
}

button {
    margin-left: auto;
    margin-right: auto;
}

.termsAndConditions

{
    color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
}

.accept{
    width: 15px;
    margin-right: 5px;
    margin-left: 0;
}


.show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 0px 40px 0px;
    color:#F4F4F4;
}
.show-password{
    margin: 0;
    width: 30px;
    height: 16px;
}

.logo {
    position: relative;
    top: 22%;
    width: 130px;
}

.logoProfile {
    position: absolute;
    top: 35%;
    width: 300px;
    border-radius: 50%;
}

.logo2 {
    top: 22%;
    width: 37%;
}

.borde-baner {
    display: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.iconoMenu {
    font-size: 20px;
    color: #92603F;
    font-weight: 100;
}

/*POST GROUPS*/

#postBody{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.mainHeader{
    margin: 0px;
    background: #CAD95B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px 2px 5px;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 70px;
    z-index: 1;
}

.icons{
    display: flex;
    flex-direction: row;
    padding: 5px 0px 5px 0px;
    line-height: 1px;
    margin-left: 15px;
    justify-content: flex-start;
}

.colorBlack {
    color: #000;
}

.travelOpt{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}

.inputPost{
    width: 36px;
    height: 14px;
    border: 1px solid black;
    border-radius: 15px;
    margin: auto;
    outline: none;

}

.inputPost:hover{
    border: 1px solid #CAD95B;
}

.iconPost{
    width: 25px;
    margin: 5px;
    margin-bottom: 5px;
}

.postTitle{
    border: none;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    outline: none;

}
.editTitle{
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    outline: none;
    text-align: center;
    border-color: #E5E5E5;
    height: auto;
    border-radius: 0px;
    width: 268px;
}

.postContent{
    font-size: 18px;
    width: 323px;
    height: 280px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    text-align: top;
    margin: auto;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    outline: none;
    margin-bottom: 15%;
}

.location{
    display: flex;
    margin: 10px 20px 10px 20px;
    flex-direction: row;
    padding: 0px;
    align-items: center;
    height: 15px;
    justify-content: space-between;
}

.locationEditCnt{
    display: flex;
    padding: 10px 20px 10px 20px;
    align-items: center;
    justify-content: space-between;
}

.locationIcon{
    width: 15px
}

.locationInput{
    margin: 0px;
    text-align: left;
    border: none;
    width: 285px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
.locationEdit{
    border: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    outline: none;
    border-color: #E5E5E5;
    height: auto;
    border-radius: 0px;
    margin: 0px;
    width: 269px;
}

.sharePost{
    display: block;
    margin: auto;
    width: 100px;
    height: 36px;
    background-color: #CAD95B;
    border: 1px solid #CAD95B;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;

}

.textTraveler {
    font-size: 40px;
    font-weight: bold;
    margin-left: 30px;
}
.cntLogin{
    background: url('https://firebasestorage.googleapis.com/v0/b/traveler-c61bb.appspot.com/o/fondoLogin.jpg?alt=media&token=a1bb992d-e7af-49df-97b8-c2685e914f0a') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    padding-top: 65px;
}
/* muro */
.navbarIcons {
    display: flex;
}

.menuIcons {
    margin-right: 25px;
}

.menuIcons a{
    margin: 5px;
}

.allPost {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15%;
    justify-content: center;
}

.destinationPost {
    margin-left: 15px;
    height: 30px;
    margin-top: 15px;
    display: flex;
    background: #ffffffc4;
    width: fit-content;
    border-radius: 5px;
    padding: 0px 10px;
    align-items: center;
}
.destinationPost p {
    font-size: 18px;
    color: black;
    line-height: 20px;
    margin: 0px 0px 0px 5px;
}

.postDiv h5 {
    font-size: 25px;
    color: #fff;
}

.postContentWall

 {
    margin-bottom: 15%;
    margin-top: 15%;
}

.postUserName {
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    margin-bottom: 15px;
}

.postUserName p {
    font-size: 18px;
    color: #000;
    display: flex;
    background: #ffffffb8;
    width: fit-content;
    border-radius: 5px;
    padding: 0px 10px;
    margin-bottom: 0px;
}

.postUserName i {
    color: white;
}

.likesCounter {
    margin-top: 5px;
    background: #ffffff7a;
    width: fit-content;
    border-radius: 5px;
    padding: 0px 10px;
}

.likesCounter i{
    font-size: 21px;
}

.likesCounter span {
    font-size: 18px;
    margin: 5px;
}

.postDiv {
    display: flex;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/traveler-c61bb.appspot.com/o/fotoPost.jpg?alt=media&token=dc19d7ae-32bb-454a-9ebf-d30f4e2d5156');
    width: 360px;
    height: 407px;
    padding: 5px 10px 5px;
    border-radius: 10px;
    margin: 20px 30px 0px 10px;
    background-repeat: no-repeat;
    flex-direction: column;
}

.navbar {
    margin: 0px;
    background: #CAD95B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px 2px 5px;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 70px;
}

.userImg{
    width: 50px;
}

.userData{
   display: flex;
   flex-direction: row; 
   justify-content: flex-start;
}

.userText{
    padding: 0;
    margin: 1px;
}

.userName, .userId, .userFollowers{
    margin: 2px;
}

#optPost{
    width: 5px;
    margin-left: 115px;
}

.iconOut {
    font-size: 45px;
    margin-right: 30px;
}

/* newpost */
.newPostCnt {
    margin-top: 0%;
}

.newPost {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-right: 200px;
}

.picturesCnt {
    margin-right: 5%;
    width: 500px;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/traveler-c61bb.appspot.com/o/apurimac3.svg?alt=media&token=d0acc1a2-8763-4a26-8f3d-5497084791c8');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    border-radius: 30px;
}

/* editpost*/
.editPost {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-right: 200px;
}

.imagenPostEdit {
    width: 360px;
    height: 170px;
    object-fit: none;
}

.iconsEdit {
    margin: 34px 0px;
    display: flex;
    flex-direction: row;
    padding: 5px 0px 5px 0px;
    line-height: 1px;
    justify-content: flex-start;
}

.usuarioAndButoon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:10px 20px 10px 20px;
}

.usuarioAndButtonEdit {
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}

.userClass {
    line-height: 3px;
    margin-left: 10px;
}

.userClass p  {
    color: #000;
    text-align: left;
    width: 100px;
    line-height: 25px;
    font-weight: bold;
    font-size: 25px;
    margin: 0px;
}

.userPicture {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

/* viewpost */

.viewPost {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-right: 200px;
}

.containerPost {
    width: 500px;
    margin-right: 5%;
}

.photoViewPost {
    width: 80px;
    border-radius: 50%;
}

.userComment {
    margin: 0px 20px 0px 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#optionPost {
    margin-left: 86px;
    margin-top: 9px;
    cursor: pointer;
}

.viewPostContent {
    padding-top: 10px;
    border: 1px solid #DFDFDF;
    border-radius: 15px;
    margin-top: 40px;
}

/* viewPost */
hr {
    border-top: 1px solid #F4F4F4;
  }

.dividerModal {
    margin-top: 20px;
    border-bottom: 2px solid #F4F4F4;
}
  
  .textPrimary {
    color: #CAD95B;
    cursor: pointer;
  }

  .textEditRemove {
    font-size: 15px;
    line-height: 30px;
  }

  .editModal {
    font-size: 20px;
    line-height: 30px;
  }

  .textSecondary {
    cursor: pointer;
    color: #000;
  }

  .likesDate{
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .commentaryCounter {
    padding: 0px 10px;
  }

  .commentaryCounter i{
    font-size: 21px;
  }

  .commentaryCounter span{
    font-size: 18px;
  }

  .datePost {
    padding: 0px 10px;
  }

  .datePost span{
    font-size: 18px;
  }

  .viewContent {
    color: #000;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    padding: 0px 20px 15px 20px;
    margin-top: 0px;
  }

  .postSettings {
      margin-right: 0px;
  }

  /* comentarios */
  .commentary {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .commentary button {
    margin-top: 10px;
    width: 100px;
    height: 36px;
    background-color: #CAD95B;
    border: none;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    margin-left: auto;
    margin-right: inherit;
    font-size: 18px;
  }

  .imageAndComment {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .userAndComment {
    width: 350px;
    padding: 5px;
    border: 1px solid #DFDFDF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .userAndComment h2 {
    font-size: 18px;
    margin: 0px 0px 0px 5px;
  }

  .userAndComment input {
    border: none;
    margin: 0px 0px 0px 5px;
    padding: 0px;
    font-size: 18px;
  }

  .userAndCommentResponse {
    width: 350px;
    padding: 5px;
    border: 1px solid #DFDFDF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .userAndCommentResponse p{
    font-size: 18px;
    text-align: left;
    margin: 0px;
    color: #000;
  }

  .userAndCommentResponse h2{
    font-size: 18px;
    margin: 0px;
  }

  /* Modal editar o eliminar*/
  .modalEditRemove {
      display: none;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;
  }
  
  .boxModalEditRemove{
    display: flex;
    padding: 10px;
    width: 250px;
    height: 200px;
    background: #ffffff;
    border-radius: 15px;
    text-align: left;
    color: #666666;
    margin: 20%;
    flex-direction: column;
    justify-content: center;
  }

  .boxModalEditRemove p {
      font-size: 20px;
  }

  .xCerrar {
    font-size: 23px;
    text-align: left;
  }
  
  /*modal eliminar*/
  .modalRemove {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;
  }
  .boxModal{
      padding: 15px;
      width: 350px;
      height: 250px;
      margin: auto auto;
      background: #ffffff;
      border-radius: 10px;
      text-align: center;
      color: #666666;
  }
  .boxModal h3 {
    font-size: 20px;
    line-height: 25px;
  }
  .boxModal p {
    font-size: 20px;
    line-height: 15px;
  }

.liked{
    color: #CAD95B;
}

.unliked{
    color : #666666;
}

/* 404 not found */
.pagenotfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}
.titleNotFound{
    width: 550px;
    color: #000;
    font-size: 30px;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.linkReturnWall {
    margin-top: 15px;
    width: 130px;
    height: 41px;
    background-color: #CAD95B;
    border: none;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #FFF;
    line-height: 38px;
    font-size: 18px;
    font-weight: bold;

}
.imageNotFound {
    width: 50%;
    position: absolute;
    bottom: 0;
}
/*perfil del usuario Profile*/
.profileBanner {
    width: 100%;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/traveler-c61bb.appspot.com/o/userprofile.gif?alt=media&token=ac39084b-72c8-4d4b-b75f-149775d60ad5');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
}

.userProfile {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    line-height: 3px;
    align-items: center;
    padding: 48px 0 0 0;
}

.userProfile p  {
    color: #000;
    text-align: center;
    font-size: 40px;
    line-height: 15px;
    font-weight: bold;
}


/* ************* pequeño *************** */
@media  screen and (max-width: 540px){
*{
    font-family: 'Baloo 2', sans-serif;
    font-size: 14px;
}

body {
    margin: 0px;
}

.loginBody {
    background: url('https://firebasestorage.googleapis.com/v0/b/traveler-c61bb.appspot.com/o/fondoLogin.jpg?alt=media&token=a1bb992d-e7af-49df-97b8-c2685e914f0a') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login{
    display: block;
    
}

.title {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0px;
}

.logContainer {
    background: url('https://firebasestorage.googleapis.com/v0/b/traveler-c61bb.appspot.com/o/fondoLogin.jpg?alt=media&token=a1bb992d-e7af-49df-97b8-c2685e914f0a') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 120vh;
    padding-top: 10%;
}

.cntLogo {
    display: flex;
    justify-content: center;
}

.formLogin {
    margin-top: 10%;
}

.signup{
    display: none;
}
.muro{
    display: none;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.oLogin {
    color: #ffff;
}

/*FUENTES:
font-family: 'Baloo 2', cursive;
font-family: 'Lato', sans-serif;*/

input{
    border-radius: 20px;
    margin: 2%;
    width: 240px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    color: #666666;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px;
    border-color: #E5E5E5;
    background-color: white;
    font-family:'Lato', sans-serif;
    flex-direction: column;
    display: flex;
    outline: none;
}

input::placeholder {
    color: #DFDFDF;
}

.login-input-log{
    border-radius: 0 !important;
    margin: 0%;
    width: 240px;
    height: 30px;
    padding: 0px 10px 0px 10px;
    /* color: #C4C4C4; */
    margin-left: auto;
    margin-right: auto;
    border: 0 !important;
    border-color: #E5E5E5;
    background-color: white;
    font-family: 'Lato', sans-serif;
    flex-direction: column;
    display: flex;
    outline: none;

}

.cntPasswordInput {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin: 2%;
    width: 240px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    color: #C4C4C4;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px;
    border-color: #E5E5E5;
    background-color: white;
    font-family: 'Lato', sans-serif;
    align-items: center;
}

.google-login{
    width: 225px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    background-color: white;
    padding: 5px;
    border: solid 1px;
    border-color: #E5E5E5;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content:space-evenly;
    

}


.submit-button {
    width: 100px;
    background-color: #CAD95B;
    display: flex;
    justify-content: center;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    padding: 5px;
    color: #ffff;
}

.logout-button{
    width: 100px;
    background-color: #CAD95B;
    display: flex;
    justify-content: center;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    padding: 5px;
    color: #ffff;
}

.cancel-button {
    margin-top: 15px;
    width: 100px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    padding: 5px;
    color: #666666;
}

.imgGoogle {
    padding-left: 2px;
}

a {
    text-decoration: none;
    font-size: 12px;
    color: #CAD95B;
}

p {
    text-align: center;
    font-size: 12px;
    color: #000;
}

button {
    margin-left: auto;
    margin-right: auto;
}

.termsAndConditions

{
    color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
}

.accept{
    width: 15px;
    margin-right: 5px;
    margin-left: 0;
}


.show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 0px 40px 0px;
    color:#F4F4F4;
}
.show-password{
    margin: 0;
    width: 30px;
    height: 16px;
}

.logo {
    position: relative;
    top: 22%;
    max-width: 37%;
}
 
.logoProfile {
    position: absolute;
    top: 22%;
    width: 25%;
    border-radius: 100px;
}

.logo2 {
    top: 22%;
    width: 37%;
}

.borde-baner {
    display: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.iconoMenu {
    font-size: 20px;
    color: #92603F;
    font-weight: 100;
}

/*POST GROUPS*/

#postBody{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.mainHeader{
    margin: 0px;
    background: #CAD95B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px 2px 5px;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 98vw;
    height: 42px;
    z-index: 1;
}

.icons{
    display: flex;
    padding: 5px 0px 5px 0px;
    line-height: 1px;
    margin-left: 0px;
    justify-content: center;
}

.travelOpt{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}

.inputPost{
    width: 36px;
    height: 14px;
    border: 1px solid black;
    border-radius: 15px;
    margin: auto;
    outline: none;

}

.inputPost:hover{
    border: 1px solid #CAD95B;
}

.iconPost{
    width: 25px;
    margin: 5px;
    margin-bottom: 5px;
}

.postTitle{
    border: none;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    outline: none;

}
.editTitle{
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    outline: none;
    text-align: center;
    border-color: #E5E5E5;
    height: auto;
    border-radius: 0px;
    width: 268px;
}

.postContent{
    font-size: 15px;
    width: 323px;
    height: 155px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    text-align: top;
    margin: auto;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    outline: none;
}

.location{
    margin: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: center;
    height: 15px;
}

.locationIcon{
    width: 15px
}

.locationInput{
    margin: 0px;
    text-align: left;
    border: none;
    width: 285px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}
.locationEdit{
    border: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    outline: none;
    border-color: #E5E5E5;
    height: auto;
    border-radius: 0px;
    margin: 0px;
    width: 269px;
}

.sharePost{
    display: block;
    margin: auto;
    width: 89px;
    height: 28px;
    background-color: #CAD95B;
    border: 1px solid #CAD95B;
    border-radius: 10px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;

}

.optionsFoot{
    border-top: 1px solid #EBEBEB;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.textTraveler {
    font-size: 24px;
    font-weight: bold;
    margin-left: 30px;
}
.cntLogin{
    background: url('https://firebasestorage.googleapis.com/v0/b/traveler-c61bb.appspot.com/o/fondoLogin.jpg?alt=media&token=a1bb992d-e7af-49df-97b8-c2685e914f0a') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    padding-top: 65px;
}
/* muro */
.menuIcons {
    display: none;
}

.allPost {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15%;
    justify-content: center;
}

.destinationPost {
    margin-top: 5px;
    display: flex;
    background: #ffffffc4;
    width: fit-content;
    border-radius: 5px;
    padding: 0px 10px;
    align-items: center;
}
.destinationPost p {
    line-height: 20px;
    font-size: 15px;
    margin: 0px 0px 0px 5px;
}

.postDiv h5 {
    font-size: 15px;
    color: #fff;
}

.postContentWall

 {
    margin-bottom: 15%;
    margin-top: 15%;
}

.postUserName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    margin-bottom: 0px;
}

.postUserName p {
    color: #000;
    display: flex;
    background: #ffffffb8;
    width: fit-content;
    border-radius: 5px;
    padding: 0px 10px;
    margin-bottom: 0px;
    font-size: 15px;
}

.postUserName i {
    color: white;
}

.likesCounter {
    margin-top: 0px;
    background: #ffffff7a;
    width: fit-content;
    border-radius: 5px;
    padding: 0px 10px;
}

.likesCounter i{
    font-size: 15px;
}

.likesCounter span {
    font-size: 15px;
    margin: 5px;
}

.postDiv {
    display: flex;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/traveler-c61bb.appspot.com/o/machu.png?alt=media&token=d3962719-0bee-4194-9dc6-0a03a2cb2e6a');
    background-repeat: no-repeat;
    width: 130px;
    height: 170px;
    padding: 5px 10px 5px;
    border-radius: 10px;
    margin: 20px 10px 0px 10px;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    margin: 0px;
    background: #CAD95B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px 2px 5px;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 98vw;
    height: 42px;
}

.userImg{
    width: 50px;
}

.userData{
   display: flex;
   flex-direction: row; 
   justify-content: flex-start;
}

.userText{
    padding: 0;
    margin: 1px;
}

.userName, .userId, .userFollowers{
    margin: 2px;
}

#optPost{
    width: 5px;
    margin-left: 115px;
}

.iconOut {
    font-size: 20px;
    margin-right: 20px;
}

/* newpost */
.newPostCnt {
    margin-bottom: 15%;
}

.newPost {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    margin-right: 0px;
}

.picturesCnt {
    margin-right: 5%;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/traveler-c61bb.appspot.com/o/apurimac3.svg?alt=media&token=d0acc1a2-8763-4a26-8f3d-5497084791c8');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin-top: 45px;
    width: 100%;
    height: 200px;
    border-radius: 0;
}

/* editpost*/
.containerPostEdit {
    margin-bottom: 50px;
}

.editPost {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    margin-right: 0px;
}

.imagenPostEdit {
    width: 360px;
    height: 170px;
    object-fit: none;
}

.iconsEdit {
    margin: 10px 0px;
    justify-content: center;
}

.usuarioAndButoon {
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:10px 20px 10px 20px;
}

.usuarioAndButtonEdit {
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}

.userClass {
    line-height: 3px;
    margin-left: 10px;
}

.userClass p  {
    font-size: 17px;
    color: #000;
    text-align: left;
    width: 100px;
    line-height: 15px;
}

.userPicture {
    display: flex;
    width:25px;
    align-items: center;
    padding: 0px;
    margin-bottom: 15px;
}

.saveButton {
    margin: 20px 0px;
}

.locationEditCnt {
    margin: 20px 25px 10px 25px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: center;
    height: 15px;
    justify-content: flex-start;
}

/* viewpost */

.photoViewPost {
    width: 60px;
    border-radius: 50%;
}

.userComment {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#optionPost {
    margin-left: 86px;
    margin-top: 9px;
}

.viewPostContent {
    width: 335px;
    margin: 0px;
    padding-top: 10px;
    border: 1px solid #DFDFDF;
    border-radius: 15px;
}

/* viewPost */
.containerPost {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-right: 0;
}

.viewPost {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    flex-direction: column;
    margin-right: 0px;
    align-items: center;
}

hr {
    border-top: 1px solid #F4F4F4;
  }
  
  .textPrimary {
    color: #CAD95B;
    cursor: pointer;
  }

  .textEditRemove {
    font-size: 15px;
  }

  .editModal {
    line-height: 30px;
  }

  .textSecondary {
    cursor: pointer;
    color: #000;
  }

  .likesDate{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 0px 0px 0px;
  }

  .commentaryCounter {
    padding: 0px 10px;
  }

  .commentaryCounter i {
    font-size: 15px;
}

.commentaryCounter span {
    font-size: 15px;
}

  .datePost {
    padding: 0px 10px;
  }

  .datePost span {
    font-size: 15px;
}

  .viewContent {
    color: #000;
    line-height: 20px;
    text-align: left;
    padding: 0px 20px 15px 20px;
    margin-top: 0px;
    font-size: 15px;
  }

  .postSettings {
      margin-right: 0px;
  }

  /* comentarios */
  .commentary {
    margin: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15%;
  }

  .commentary button {
    margin-top: 10px;
    width: 90px;
    height: 30px;
    background-color: #CAD95B;
    border: none;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    margin-left: auto;
    margin-right: initial;
    font-size: 15px;
  }

  .commentary img {
    margin-left: 10px;
    width: 15%;
  }

  .imageAndComment {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .userAndComment {
    width: auto;
    padding: 5px;
    border: 1px solid #DFDFDF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .userAndComment h2 {
    font-size: 15px;
    margin: 0px 0px 0px 5px;
  }

  .userAndComment input {
    border: none;
    margin: 0px 0px 0px 5px;
    padding: 0px;
    font-size: 15px;
  }

  .userAndCommentResponse {
    width: auto;
    padding: 5px;
    border: 1px solid #DFDFDF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .userAndCommentResponse p{
    font-size: 15px;
    text-align: left;
    margin: 0px;
    width: 240px;
  }

  .userAndCommentResponse h2{
      font-size: 15px;
    margin: 0px;
  }

  /* Modal editar o eliminar*/
  .modalEditRemove {
      display: none;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;
  }
  
  .boxModalEditRemove{
      padding: 10px;
      width: 95%;
      height: 150px;
      position: absolute;
      bottom: 0;
      background: #ffffff;
      border-radius: 15px 15px 0px 0px;
      text-align: left;
      color: #666666;
      margin: 0px;
  }

  .boxModalEditRemove p {
      margin: 10px 0px;
      font-size: 15px;
  }

  .xCerrar {
    font-size: 23px;
    text-align: left;
  }
  
  /*modal eliminar*/
  .modalRemove {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;
  }
  .boxModal{
      padding: 15px;
      width: 65%;
      height: 28%;
      margin: auto auto;
      background: #ffffff;
      border-radius: 10px;
      text-align: center;
      color: #666666;
  }
  .boxModal h3 {
    line-height: 20px;
    font-size: 15px;
  }
  .boxModal p {
    font-size: 15px;
    line-height: 15px;
  }

.liked{
    color: #CAD95B;
}

.unliked{
    color : #666666;
}

/* 404 not found */
.pagenotfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}
.titleNotFound{
    font-size: 20px;
    width: 300px;
}

.linkReturnWall {
    margin-top: 15px;
    width: 130px;
    height: 41px;
    background-color: #CAD95B;
    border: none;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #FFF;
    line-height: 38px;
    font-size: 18px;
    font-weight: bold;

}
.imageNotFound {
    width: 100%;
    position: absolute;
    bottom: 0;
}
/*perfil del usuario Profile*/
.profileBanner {
    margin-top: 45px;
    height: 155px;
}
.userProfile {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    line-height: 3px;
    align-items: center;
    padding: 48px 0 0 0;
}

.userProfile p  {
    text-align: center;
    font-size: 20px;
    line-height: 15px;
    font-weight: bold;
}

}

/*mayor e igual a Surface 541px*/
@media  screen and (min-width: 541px) and (max-width: 1279px){
    .borde-baner {
        width: 100%;
    }
    .logoProfile {
        top: 30%;
        width: 28%;
    }
}



